@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<p>NPlant was created and it maintained by <a href="http://blog.kellybrownsberger.com" target="_blank">Kelly Brownsberger</a> and can be found on github <a href="https://github.com/nplant/nplant" target="_blank">here</a>.</p>

<p>If you find NPlant useful or have ideas that would make it better, please reach out.</p>